body{
	background-color: OldLace;
	font-family:'Roboto light', 'bahnschrift',sans-serif;
	font-weight:100;
	font-size:16px;
}

h1{
	color: white;
	font-family: 'Roboto condensed', 'bahnschrift semibold',sans-serif;
}

h2{
	color: white;
	font-family: 'Roboto regular', 'bahnschrift',sans-serif;
	font-weight:300;
}

h3{
	font-family:'Roboto light', 'bahnschrift',sans-serif;
	font-weight:200;
	font-size:20px;
	text-decoration-line: underline;
}
.div1{
	color:white;
	background-color:#004d4d;
	padding:20px;
	block-size:150px;
}

.div2{
	padding:20px;
}

.div3{
	color:white;
	background-color:#004d4d;
	padding:15px;
	block-size:60px;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


